html {
    box-sizing: border-box;
}
  
*, *:before, *:after {
    box-sizing: inherit;
    margin:0;
    font-family:"Lato"
}
.background {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index: -1;
    animation:colorchange 15s ease infinite;
    /*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=316bee&c2=1eac77&gt=l&gd=dtl
*/
background:linear-gradient(135deg,#316BEE,#1EAC77,#efd032,#fd2828,#8532EF,#316BEE, #1EAC77);

}
@keyframes colorchange {
    0% {
        top:00vh;
        left:00vw;
        bottom:-600vh;
        right:-600vw;
    }
    17% {
        top:-100vh;
        left:-100vw;
        bottom:-500vh;
        right:-500vw;
    }
    33% {
        top:-200vh;
        left:-200vw;
        bottom:-400vh;
        right:-400vw;
    }
    50% {
        top:-300vh;
        left:-300vw;
        bottom:-300vh;
        right:-300vw;
    }
    67% {
        top:-400vh;
        left:-400vw;
        bottom:-200vh;
        right:-200vw;
    }
    83% {
        top:-500vh;
        left:-500vw;
        bottom:-100vh;
        right:-100vw;
    }
    100% {
        top:-600vh;
        left:-600vw;
        bottom:-00vh;
        right:-00vw;
    }

}
header {
    height:90vh;
    display:flex;
    justify-content:center;
    align-items:center;
}
header h1 {
    color:#ffffff;
    font-size:35px;
}
nav {
    background-color:rgba(0,0,0,0.5);
    position:sticky;
    top:5px;
    z-index:1;
    margin:5px;
    height:10vh;
}
nav ul {
    display:flex;
    list-style-type:none;
    justify-content:space-around;
    align-items:center;
    padding:10px 50px 10px 50px;
}
nav ul li a {
    color:#ffffff;
    font-size:1.2rem;
    height:3rem;
    display:flex;
    align-items:center;
}
#aboutme {
    display:flex;
    justify-content:center;
    margin:5px;
    background-color:rgba(0,0,0,0.5);
    padding:100px;
}
.pane {
    display:flex;
    flex:0.5;
    justify-content:center;
}
.pane img {
    display:flex;
    padding:auto;
    flex:0.5;
    width:0;
}
.text {
    display:flex;
    flex-direction:column;
    flex:0.5;
    color:#ffffff;
    font-size:18px;
    line-height:29px;
}
.section-head {
    color:#ffffff;
    text-align:center;
}
#skills {
    background-color:rgba(0,0,0,0.5);
    padding:100px;
    margin:5px;
}
.skill-container {
    display:flex;
    justify-content:space-evenly;
}
.skill {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    width:200px;
}
.skill img {
    width:100px;
    display:flex;
    padding:20px;
}
.skill h3 {
    display:flex;
    justify-content:center;
    color:#ffffff;
}
#hobbies {
    padding:80px;
    color:#ffffff;
    background-color:rgba(0,0,0,0.5);
    margin:5px;
}
#hobbies ul {
    list-style-type:none;
    padding:10px;
}
#hobbies ul li {
    display:flex;
    justify-content:center;
    margin:30px;
}
#contact {
    color:#ffffff;
    background-color:rgba(0,0,0,0.5);
    margin:5px;
    margin-bottom:10px;
    padding:10px;
    display:flex;
    justify-content:space-around;
}
.contact-container {
    min-width:200px;
    display:flex;
    align-items:center;
}
.contact-container ion-icon {
    margin:10px 30px 10px 30px;
}
a:link {
    text-decoration:none;
    transition:1s;
}
a:active {
    animation:colorful-links 5s ease infinite;
}
a:hover {
    transition:1s;
    text-decoration:underline;
    color:#fd2828
}
@keyframes colorful-links {
    0% {
        color:#fd2828
    }
    20% {
        color:#efd032
    }
    40% {
        color:#1EAC77
    }
    60% {
        color:#316BEE
    }
    80% {
        color:#8532EF
    }
    100% {
        color:#fd2828
    }
}